# React Native
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
ios/Pods/
android/app/build/
*.iml
.idea/
*.hprof

# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcworkspace
*.xcuserstate
!default.xcworkspace
!default.xcuserstate
*.pbxuser
!default.pbxuser
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata

# Android
android/.gradle
android/app/release
android/app/debug
android/local.properties
android/*.iml
android/*.keystore

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Windows
Thumbs.db
Desktop.ini

# Buck
.buckconfig
.buckd/
buck-out/
.buckversion

# Watchman
.watchmanconfig

# Intellij
*.iml
.idea/
.gradle/
build/
